/**
 * phrasecounter.css
 *
 * Various styles for the app.
 */
 
* {
    font-size: 10pt;
}

.phrase-view td {
    font-size: 12pt;
    text-transform: capitalize;
}

.phrase-view .phrase {
    width: 100px;
}

.phrase-view .phrase-count {
    width: 35px;
     text-align: center;
}

.phrase-view img {
    vertical-align: bottom;
    cursor: pointer;
    height: 16px;
    width: 16px;
}

.buttons {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.delete {
}

