/**
 * phrasecounter.css
 *
 * Various styles for the app.
 */
 
* {
    font-family: Arial, sans-serif;
    font-size: 10pt;
}

.phrase-view td {
    font-size: 12pt;
    text-transform: capitalize;
}

.phrase-view .phrase {
    width: 100px;
}

.phrase-view .phrase-count {
    width: 35px;
    text-align: center;
}

#graphwrap {
    float: left;
    width: 100%;
}

#graph {
    margin-left: 200px;
    background-color: #eee;
}

#phrasewrap {
    float: left;
    width: 200px;
    margin-left: -100%;
}

.phrase-view img {
    vertical-align: bottom;
    cursor: pointer;
    height: 16px;
    width: 16px;
}

#elapsed {
    font-size: 12pt;
    padding: 4px;
    margin: 4px;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.buttons {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.delete {
}

