<!DOCTYPE html>
<html>
    <head>
        <title>PhraseCounter</title>
        <link rel="stylesheet" href="css/phrasecounter.js" />
        <script type="text/javascript" src="js/jquery-1.8.2.js"></script>
        <script type="text/javascript" src="js/underscore.js"></script>
        <script type="text/javascript" src="js/backbone.js"></script>
        <script type="text/javascript" src="js/backbone.localStorage.js"></script>
        <script type="text/javascript" src="js/phrasecounter.js"></script>
    </head>
    <body>
        
        <div id="phrase-app">
            <div id="active-phrases"></div>
            <input id="new-phrase" type="text" placeholder="New..." />
            <div id="elapsed"></div>
            <button id="start">Start</button>
            <button id="stop">Stop</button>
            <button id="reset">Reset</button>
        </div>
        
        <script type="text/template" id="phrase-template">
            <div class="phrase-view">
                <div class="delete"></div>
                <div class="phrase"><%- phrase %></div>
                <div class="hotkey" title="Hotkey: <%= hotkey %>"></div>
                <div class="plus"></div>
                <div class="minus"></div>
                <div class="phrase-count" style="color: <%= color %>"><%- count %></div>
            </div>
        </script>
    </body>
</html>